@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: white;
}

body{
    background-color: black;
}

#Tasklist::-webkit-scrollbar{
    display: none;
}

#AllTask::-webkit-scrollbar{
    display: none;
}